:root {
  --primary: #009cff;
  --light: #f3f6f9;
  --dark: #191c24;
}

/* ====== Botones ====== */
.btn {
  transition: 0.3s;
}

.btn.btn-primary {
  color: #fff;
}

/* ====== Botón volver arriba ====== */
.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}
